{% extends 'base.html' %}
  
{% block title %}Brand new design IoT data system{% endblock %}
{% block home %} actives{% endblock %}

{% block content %}
    <header class="bg-primary">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12">
                    <div class="text-center m-0 vh-100 d-flex flex-column justify-content-center text-light">
                        <h1 class="display-4">SYSpeak 2.0</h1>
                        <p class="lead">Brand new design IoT data system.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}